[package]
name = "similar-asserts"
version = "1.0.00"
authors = ["Armin Ronacher <armin.ronacher@active-4.com>"]
edition = "2018"
license = "Apache-2.0"
description = "provides assert_eq! like macros with colorized diff output"
repository = "https://github.com/mitsuhiko/similar-asserts"
keywords = ["assert", "diff", "color"]
readme = "README.md"
exclude = [
    "assets/*"
]

[package.metadata.docs.rs]
all-features = true

[features]
default = ["unicode"]
unicode = ["similar/unicode"]

[dependencies]
similar = { version = "1.3.0", features = ["inline"] }
console = { version = "0.14.0", default-features = false }
serde = { version = "1.0.123", optional = true }

[dev-dependencies]
serde = { version = "1.0.123", features = ["derive"] }
